.CxyPageLayout {
  width: 100%;
  // 如果 height 设置为 100vh，在部分 Android 机型上存在兼容问题，布局会错位
  min-height: 100vh;
  background: inherit;
  overflow-x: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  .pageTop {
    flex: 1;
    position: relative;
  }

  .pageBottom {
    position: relative;
  }

  .pageTopReverse {
    position: relative;
  }

  .pageBottomReverse {
    flex: 1;
    position: relative;
  }
}
