.cxySubtitleBox {
  font-size: 28px;
  min-height: 76px;
  color: #6a6a6a;
  background: #fff;
  display: flex;
  align-items: center;
}

.cxySubtitle {
  width: 100%;
  padding: 18px 0;
  line-height: 44px;
  border-bottom: 1px solid #e5e5e5;
  word-break: break-all;
  word-wrap: break-word;
}

.cxySubtitleTitle {
}

.cxySubtitleDesc {
  white-space: pre-wrap;
}

.cxySubtitleLine {
  width: 4px;
  height: 28px;
  margin-right: 10px;
  background: #00b488;
  display: inline-block;
  position: relative;
  top: 4px;
  left: 0;
}
