{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false, // 将ESM 转化为其他模块规范，默认值 false。
        "useBuiltIns": "usage", // 按需加载
        "corejs": 3, // Babel 建议使用 useBuiltIns 选项时显式设置 core-js 版本
        "debug": false // 打印插件使用情况
      }
    ],
    "@babel/preset-react" // 解析 JSX 语法
  ],
  "plugins": ["react-hot-loader/babel", "@babel/plugin-transform-runtime"]
}
