@import '../../../../styles/_commonColor.scss';
.processItem {
  .item {
    display: flex;
    align-items: flex-start;
    .ball {
      width: 20px;
      height: 20px;
      border: none;
      background: $slidergreen;
      border-radius: 50%;
      margin: 10px 28px 0 6px;
    }
    .normalLeft {
      .solid {
        border: none;
        width: 1px;
        // height: 100px;
        height: 144px;
        background: $slidergreen;
        margin-left: 15px;
      }
    }
    .currentLeft {
      position: relative;
      top: -0.01rem;
      img {
        width: 32px;
        height: 32px;
        margin: 10px 28px 0 0;
        display: block;
      }
      .solid {
        border: none;
        width: 1px;
        height: 100px;
        background: $slidergreen;
        margin-left: 15px;
      }
    }

    .content {
      flex: 1;
      color: #6a6a6a;
      p {
        font-size: 32px;
      }
      div {
        font-size: 24px;
      }
    }
    .currentContent {
      color: $slidergreen;
    }
  }
  .adaption {
    margin-bottom: -10px;
  }
}
