.items {
  background-color: white;
  .item {
    .innerItem {
      border-bottom: solid 1px #e5e5e5;
      padding: 30px 8px;
    }
    &:nth-last-child(1) {
      .innerItem {
        border-bottom: none;
      }
    }
  }
}
