.cxyInputFieldBox {
  width: inherit;
  margin: 40px 0 40px 30px;

  .cxyInputFieldTitle {
    font-size: 28px;
    line-height: 32px;
    color: #6a6a6a;
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;

    .cxyIcon {
      width: 54px;
      height: 54px;
      background-image: url(https://yzres.cx580.com/h5resource/pro/public/images/commonlyIcon/tips-green-54.png);
      background-size: 32px 32px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .cxyInputField {
    position: relative;
    height: 66px;
    line-height: 66px;
    font-size: 32px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    > .input {
      flex: 1;
      color: #1a1a1a;
      font-size: 0.32rem;
      font-weight: bold;
      width: 100%;
      height: 100%;
      background: none;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
      box-shadow: none;
      font-family: inherit;
      user-select: text;
      -webkit-user-select: text;
      appearance: none;
      -webkit-appearance: none;
    }

    // WebKit, Blink, Edge
    > .input::-webkit-input-placeholder {
      color: #d4d4d4 !important;
      font-size: 0.32rem !important;
    }

    // Mozilla Firefox 4 to 18
    > .input:-moz-placeholder {
      color: #d4d4d4 !important;
      font-size: 0.32rem !important;
    }

    // Mozilla Firefox 19+
    > .input::-moz-placeholder {
      color: #d4d4d4 !important;
      font-size: 0.32rem !important;
    }

    // Internet Explorer 10-11
    > .input:-ms-input-placeholder {
      color: #d4d4d4 !important;
      font-size: 0.32rem !important;
    }

    .cxyError {
      color: #ff4444 !important;
    }
  }

  .cxyInputFieldLine {
    margin: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
  }
  .cxyInputFieldFocusLine {
    margin: 0;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    background-color: #aaa;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .cxyInputFieldOnFocus {
    transform: scaleX(1);
  }
}
