// 颜色
$white: #fff;
$darkgray: #6a6a6a;
$bordergray: #f5f6ff;
$gray: #ababab;
$black: #1a1a1a;
$bodybg: #f1f1f1;
$linegreen: #00b387;
$slidergreen: #00b488;
$orange: #fd8525;
$footnavgray: #d0d0d0;
$deepergray: #888;
$maskborder: #e5e5e5;
$borderlinegray: #eee;

//$darkblack: #000 ;
//$lightblack: #333;
//$deepergray: #999;
//$lightgray: #ccc;
//$blue: #2582EA;
//$lightblue:#A6D1E9;
//$green: #08b91d;
//$red: #ff0300;
//$blue50: #c0e8ff;
//$red50: #feb2b4;
//$warningRed:#FF4444;
//$bgblue: #F1FAFF;
//$bggray: #F1F1F1;
