@import './_commonColor.scss';

.am-checkbox.am-checkbox-checked .am-checkbox-inner {
  border-color: $slidergreen;
  background-color: #fff;
}

.am-checkbox.am-checkbox-checked .am-checkbox-inner:after {
  display: block;
  border-color: $slidergreen;
}
.am-checkbox-inner:after {
  top: 0.06rem;
  right: 0.14rem;
  z-index: 999;
  // width: 0.1rem;
  //height: 0.22rem;
  border-style: solid;
  //border-width: 0 0.03rem 0.03rem 0;
  content: ' ';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
// .am-checkbox-inner:after {
// 	border-width: 0 0.02rem 0.02rem 0;
// }

.am-checkbox-inner {
  border-color: $slidergreen !important;
}
