@import './_commonColor.scss';

.am-tabs-bar .am-tabs-tab-active {
  color: $linegreen !important;
  font-size: 0.28rem;
}

.am-tabs-ink-bar-animated {
  width: 1.2rem !important;
  position: absolute;
  left: 8.8%;
  margin-bottom: 1rem;
}

.am-tabs-bar .am-tabs-tab {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  border: none;
  font-size: 0.28rem;
  height: 0.88rem;
  line-height: 0.88rem;
  background-color: #fff;
  color: $darkgray;
}

.am-tabs-ink-bar {
  position: absolute;
  bottom: 0;
  height: 0.04rem;
  background-color: $slidergreen;
}
