html,
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  width: 100%;
  height: 100%;
}
body {
  line-height: 1.5;
  font-size: 0.8rem;
  color: #212121;
  background-color: #f5f5f5;
  outline: 0;
}
html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

ul,
li {
  list-style: none;
}
p {
  font-size: 0.7rem;
  color: #757575;
}
a {
  color: #0062cc;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  outline: 0;
}
textarea {
  overflow: hidden;
  resize: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}
/*
*表单类\输入框\radio\checkbox
**/
input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
input[type='time'],
input[type='number'],
select,
textarea {
  border: none;
  background: none;
  box-shadow: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-user-select: text;
  user-select: text;
  -webkit-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

/* 通用 */
.flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* 09版 */
  -webkit-box-orient: horizontal;
  /* 12版 */
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.flex1 {
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19- */
  -webkit-flex: 1; /* Chrome */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex-v {
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* 09版 */
  -webkit-box-orient: vertical;
  /* 12版 */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

#app,
#app > div {
  height: 100%;
} //设置页面高度为100%
img {
  border: none;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  object-fit: cover;
}

//APP头部
.h130 {
  height: 136px;
  width: 100%;
  clear: both;
}
.appHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 136px;
  padding-top: 40px;
  background: #2fb3fe;
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 96px;
  z-index: 998;

  .headerTitle {
    font-size: inherit;
  }
  .headerLeft {
    position: absolute;
    left: 0;
    padding: 0 30px;
    font-size: 28px;
    line-height: inherit;
  }
  .headerRight {
    position: absolute;
    right: 30px;
    font-size: 28px;
    line-height: inherit;
  }
}

//兼容APP头部
.appBody {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 136px;
  overflow-y: scroll;
  z-index: 1;
}
.notAddHeader {
  z-index: 998;
  .h130 {
    height: 96px;
  }
  .appHeader {
    height: 96px;
    padding-top: 0;
  }
  .appBody {
    padding-top: 96px;
  }
}

/* 点击加载更多 */
.w-load-more-btn {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.28rem;
  color: #ababab;
  text-align: center;
}
