.cxyFeeInfoOneClamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /*! autoprefixer: on */
  word-break: break-all;
  word-wrap: break-word;
}

.cxyFeeInfo {
  padding: 1px 0;
  font-size: 28px;

  .cxyFeeInfoItem {
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cxyFeeInfoItem .itemTitle {
    color: #6a6a6a;
  }

  .cxyFeeInfoItem .itemValue {
    flex: 1;
    color: #1a1a1a;
    text-align: right;
  }

  .cxyFeeInfoItem:first-of-type {
    margin-top: 0;
  }
  .cxyFeeInfoItem:last-of-type {
    margin-bottom: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px dashed #e5e5e5;
  }

  .cxyFeeInfoLastItemHide {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top: none !important;
  }
}
