.titleBox {
  background: #fff;
  position: relative;
  .title {
    position: relative;
    margin-left: 0.3rem;
    height: 0.76rem;
    line-height: 0.76rem;
    color: $gray;
    border-bottom: 1px solid #eee;
    & > i {
      border-left: 0.04rem solid #00b387;
      margin-right: 0.1rem;
    }
  }
}

.addressBox {
  position: relative;
  background: #fff;
  .separateLine {
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
  }
  .address {
    height: 1rem;
    line-height: 1rem;
    position: relative;
    .map {
      width: 0.26rem;
      height: 0.3rem;
      position: absolute;
      left: 0.3rem;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .addAddress {
      margin-left: 0.75rem;
      color: #1a1a1a;
      font-size: 0.32rem;
    }
    .iconToRight {
      width: 0.16rem;
      height: 0.24rem;
      position: absolute;
      top: 50%;
      right: 0.32rem;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
  }
  .fullAddress {
    padding: 0 0.3rem 0.38rem 0.3rem;
    font-size: 0.3rem;
    color: #6a6a6a;
  }
}
