.myCheckBox {
  display: inline-block;

  .checked {
    width: inherit;
    height: inherit;
    background: transparent
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAh5JREFUSA1jvHjxogcDA8Os////ywJpqgFGRsbHQMPSGIEWPKK24TBXgixhgRmur68PE6cKDXQ4A8hsJqqYhseQUQvggXP0/VMGnUPzGHa+uQ8XAzGoEkQbXt5mcD25kuHq59cMi59cRbGABYVHBmfmowsM2Vd2M/z9/49Bn0+MYYqOK4opFFlQd+sIQ/Pto2ADVbgFGXaahzMIsLCjWIARRPvfPmLQPDiHYfOruygKkTl//v9nSL60HW64NAcvw27zCAZxNi5kZWA2hgU5V3cz3PjylsH/zFqGypsHGf4y/EfR9O3fH4aAs2sZ5j2+BBYXZuNk2AV0uQInH4o6GAfDgg4NBwZWJmZQLmTouHOCwfnECoYXP7+C1b/5/Z3B6cRyhq0vIb7jYWFj2GYWyqDFIwwzD4PGsMBXTJlhtVEA2BKQ6oPAIDM8soCh594pBqujSxhOvn8GNoSdmYVho0kwgxm/JIahyAIYFoAk/cVVGFYY+jGwMEGkX/z4wlB6fT/D7a/vwHqZGZkYlgPlnYTlkM3CysZqAUhlkIQa2BCYJTDdwBKSYY6eJ0OguCpMCC+N0wKQrhAJdYYlBr4MIBfDQK+mE0OCjA6MS5AmmA/CJTUY/gEjPPbCFoZKFQuGQkUTgoYiKyBoAUhxpJQmg72wLIMUOw+yXqLYCL8TUE6O4SAjibaAgP04pWluAc0rfZAP0qBNDJzeJEcC1mwBAKrKnqwr8nYcAAAAAElFTkSuQmCC)
      no-repeat;
    background-size: 100%;
    background-position: center center;
  }
  .unchecked {
    width: inherit;
    height: inherit;
    background: transparent
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAHJJREFUSA1jvHjxogcDA8Os////ywJpqgFGRsbHQMPSGIEWPKK24TBXgixhgRmur68PE6cKDXQ4A8hsJqqYhseQUQvwBA5EajSIRoOIYAgQVDCaikaDiGAIEFQwmooIBhHNK31QHKRBmxgEXUOKAlizBQBXICJh5MdKuwAAAABJRU5ErkJggg==)
      no-repeat;
    background-size: 100%;
    background-position: center center;
  }
}
