.myCell {
  width: inherit;
  height: 1rem;
  font-size: 0.32rem;
  line-height: 0.44rem;
  background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .textEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /*! autoprefixer: on */
    word-break: break-all;
    word-wrap: break-word;
  }

  .cellLabel {
    flex: 30%;
    margin-right: 0.3rem;
  }
  .cellValue {
    flex: 70%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }
}
