.cellFee {
  height: auto;
  background: #fff;
  padding: 1px 0;
  font-size: 0.28rem;
  line-height: 0.4rem;
  padding-left: 0.3rem;

  .cellFeeItem {
    margin: 0.24rem 0.3rem 0.24rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .itemTitle {
      color: #6a6a6a;
    }

    > .itemValue {
      margin-left: 0.3rem;
      flex: 1;
      color: #ff721d;
      text-align: right;
    }
  }

  .cellFeeItem:first-of-type {
    margin-top: 0.4rem;
  }

  .cellFeeItem:last-of-type {
    margin-bottom: 0.4rem;
  }

  .cellFeeLast {
    padding: 0.34rem 0;
    border-top: 1px solid #e5e5e5;

    .cellFeeLastItem {
      margin: 0.24rem 0.3rem 0.24rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      /* background: #eee; */
      > .itemTitle {
        color: #6a6a6a;
      }

      > .itemValue {
        margin-left: 0.3rem;
        flex: 1;
        color: #ff721d;
        text-align: right;
      }
    }

    .cellFeeLastItem:first-of-type {
      margin-top: 0;
    }

    .cellFeeLastItem:last-of-type {
      margin-bottom: 0;
    }
  }
}
