.iconText {
  display: flex;
  align-items: center;

  img {
    width: 0.36rem;
    height: 0.4rem;
    display: block;
    position: relative;
    top: -0.02rem;
  }

  span {
    flex: 1;
    font-size: 0.4rem;
    color: $black;
    padding-left: 0.1rem;
    text-align: left;
    display: block;
    color: #1a1a1a;
  }
}
