@import './test.scss';

.red-color {
  color: red;
  background-image: url(../../../images/avatar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 128px 128px;
}
