.cxySelectBox {
  width: inherit;
  // height: 1rem;
  margin-left: 0.3rem;
  margin-right: 0;
  font-size: 0.32rem;
  line-height: 0.44rem;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;

  .cxySelect {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 设置最大长度，超过2.3rem省略号表示... */
    > .title {
      color: #6a6a6a;
      max-width: 2.3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      // display: -webkit-box;
      // -webkit-line-clamp: 1;
      // line-clamp: 1;
      // /*! autoprefixer: off */
      // -webkit-box-orient: vertical;
      // /*! autoprefixer: on */
      // word-break: break-all;
      // word-wrap: break-word;
    }

    > .icon {
      width: 0.56rem;
      height: 0.56rem;
      // background-color: #eee;
      background-image: url(https://yzres.cx580.com/h5resource/pro/public/images/commonlyIcon/tips-green-32.png);
      background-size: 0.32rem 0.32rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    > .selectArea {
      flex: 1;
      padding: 0.32rem 0 0.32rem 0.3rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;

      .selectImg {
        width: 0.6rem;
        height: 0.6rem;
        position: relative;
        background-image: url(https://yzres.cx580.com/h5resource/pro/public/images/commonlyIcon/icon_camera_upload-62-60.png);
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      .selectImg::before {
        content: '';
        width: 0.02rem;
        height: 0.54rem;
        background: #e5e5e5;
        position: absolute;
        left: -0.26rem;
        top: 50%;
        transform: translateY(-50%);
      }

      > .select {
        flex: 1;
        color: #1a1a1a;
        background: none;
        margin: 0;
        overflow: hidden;

        display: flex;
        // justify-content: flex-end;

        .text {
          text-align: right;
          width: 100%;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          // display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }

      .selectPlaceholder {
        color: #d4d4d4 !important;
      }

      .alignLeft {
        flex: 1;
        text-align: left !important;
      }

      .arrow {
        width: 0.32rem;
        height: 0.32rem;
        background-image: url(https://yzres.cx580.com/h5resource/pro/public/images/commonlyIcon/arrow-right-gray-32.png);
        background-size: 0.32rem 0.32rem;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 0.08rem;
      }
    }
  }
  .selectDescription {
    color: #ababab;
    font-size: 0.24rem;
    line-height: 0.24rem;
    margin-top: 0;
    margin-bottom: 0.16rem;
    position: relative;
    top: -0.16rem;
  }
}
