.itemContainer {
  display: flex;
  align-items: center;
  .content {
    flex: 1;
  }
  .arrow {
    width: 16px;
    height: 24px;
    margin-left: 12px;
    background: url('https://yzres.cx580.com/h5resource/test/public/images/go.png') no-repeat center;
    background-size: 16px 24px;
  }
}
