@import '../../../styles/_commonColor.scss';

.statusBar {
  font-size: 30px;
  color: $gray;
  .bar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    img {
      display: block;
      margin: 0 4px;
    }
    .normal {
      flex: 1;
      display: flex;
      align-items: center;
      .solid {
        border-top: 1px solid $gray;
        height: 1px;
        flex: 1;
      }
      .successSolid {
        border-top: 1px solid $slidergreen;
      }
      .error {
        border-top: 1px solid red;
      }
    }
    .successImg,
    .errorImg {
      width: 40px;
    }
    .normalImg {
      width: 45px;
    }
  }
  .textContainer {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    .successText {
      color: $slidergreen;
    }
    .errorText {
      color: red;
    }
  }
}
